.header {
    width: 100vw;
    height: 200px;
    overflow: hidden;
    background-color: antiquewhite;
}
.header-img {
    height: 200px;
    margin-right: -30px;
    float: right;
}
.header-icon {
    font-size: 13px;
    vertical-align: middle;
    position: absolute; 
    left: 20px;
    top: 10px;
}
.header-icon > img {
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.header-title {
    color: #fff;
    font-size: 20px;
    position: absolute; 
    left: 20px;
    top: 50px;
    font-weight: 500;
    text-shadow: 1px 1px 5px #6d6d6d;
}